.container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    flex-direction: column;
    width: 50%;
    background-color: aquamarine;
    padding: 20px;
    border-radius: 5px;
}
.body-content{
    width:100%;
}
button{
    margin:10px;
    width:140px
}