<div class="form-group">
    <label for="phone">Phone</label>
    <input type="phone" class="form-control" id="phone" required [(ngModel)]="userDetails.phone" name="phone"
        #phone="ngModel" maxlength="10" pattern="[0-9]*">
    <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
        Enter digit only.
    </div>    
</div>
<div class="form-group">
    <label for="organization">Organization</label>
    <input type="text" class="form-control" id="organization" required [(ngModel)]="userDetails.org" name="organization"
        #organization="ngModel" maxlength="30">
    <div [hidden]="organization.valid || organization.pristine" class="alert alert-danger">
        Organization is required.
    </div>    
</div>